.grafica{
  font-size: 100px;
}
.advanced-pie-legend .total-value {
  font-size: 36px !important;
  position: left !important;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-percent {
  font-size: 24px !important;
  position: rigth !important;
}

