
<div class="container row align-items-center py-2 mx-auto">
  <div class="col-md-6 d-flex align-items-center pl-5 col-12">
    <span class="iconify" data-icon="bi:list-check"></span>
    <p class="mt-3 ml-6">Lista de usurios</p>
  </div>
  <div class="col-md-6 d-flex justify-content-center">
    <div class="input-group rounded w-75 m-auto">
      <input
        type="search"
        class="form-control rounded rounded2"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        [(ngModel)]="userSearch" id="filter"
      />
      <span class="input-group-text border-0" id="search-addon">
        <span class="iconify" data-icon="codicon:search"></span>
      </span>
    </div>
  </div>
</div>

<div class="row card-flex">
  <mat-card class="card col-md-3 m-1" *ngFor="let item of dataUser | filter: userSearch">
      <mat-card-header>
        <mat-card-title>{{item.login}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src={{item.avatar_url}}>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary">
          {{item.subscriptions_url.length}}
        </button>
      </mat-card-actions>
    </mat-card>
</div>

<!-- <div class="container container-table" style="overflow: scroll; width: 100%">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataUser.items | filter: userSearch">
        <td>
          {{ item.login }}
        </td>
        <td>
          {{ item.type }}
        </td>
      </tr>
    </tbody>
  </table>
</div> -->





